body {
  font-family: Arial;
  align-items: center;
  background-color: #F0E4D3;
}
.nav {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  background-color: white;
  z-index: 1000;
}

.nav .logo {
  display: flex;
}

.nav .logo a {
  color: black;
  text-decoration: none;
  display: flex;
}

.nav .logo img {
  width: 50px;
  height: 40px;
}

.navlinks {
  display: flex;
}

.navlinks ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navlinks ul li a {
  color: palevioletred;
  padding: 12px;
  text-decoration: none;
}

.navlinks ul li a:hover {
  color: white;
  background-color: palevioletred;
  border-radius: 32px;
}
.message-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #F0E4D3; 
  padding: 20px;
}
.h2 {
  text-align: center;
}
.whatsapp-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  /* max-width: 300px; */
  width: 50%;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #DCC5B2;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.message-center button {
  background: #D9A299;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}.footer {
  display: flex;
  justify-content: space-between;
  background-color: #333333;
}
.footer-content2 {
  display: flex;
}
.footer-content2 a {
  text-decoration: none;
  padding-left: 20px;
  color: rgb(136, 151, 1);
}
.footer-content2 a:hover{
  color: white;
  background-color: black;
  height: 70px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
}.footer {
  background-color: #D9A299;
  color: white;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  text-align: left;
  font-family: Arial, sans-serif;
}

.footer-section {
  /* flex: 1 1 200px; */
  min-width: 200px;
}

.footer h2, .footer h3 {
  color: #ffb6c1;
}

.footer a {
  color: #ffe6ef;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.footer-bottom {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #ffffff33;
  padding-top: 10px;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .footer {
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width:600px) {
    .navlinks {
        display: none;
    }
    .whatsapp-form {
      width: 100%;
    }
}