.main {
    height: 4cm;
    background-color: blue;
    width: 4cm;
    /* transition-duration: 5s; */
    /* transition-delay: 2s; */
    transition-timing-function: ease-in-out;
    transition: width 3s, height 2s, transform 2s;
}
.main:hover {
    transform: skewX(20deg);
    /* border-radius: 100%; */
    /* width: 5cm;
    height: 5cm; */
}

.box {
    height: 4cm;
    background-color: blue;
    width: 4cm;
    margin-top: 20px;
    animation-name: promise;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* @keyframes promise {
    from {
        background-color: blue;
    }
    to {
        background-color: yellow;
        height: 5cm;
        width: 5cm;
        transform: translateX(150px);
    }
} */
.main2 {
    height: 500px;
    width: 1350px;
    background-color: yellow;
    /* display: flex; */
    animation-name: animated;
    /* animation-duration: 4s; */
    position: relative;
}

/* @keyframes animated {
    0% {
        justify-content: flex-end;
    }
    100% {
        justify-content: flex-start;
    }
} */
.box2 {
    animation-name: shalom;
    height: 4cm;
    width: 4cm;
    border-radius: 100%;
    background-color: magenta;
    margin-top: 50px;
    /* margin-right: 50%; */
    animation-duration: 3s;
    /* justify-self: flex-end; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
}
@keyframes shalom {
    0% {
        top: 0;
        left: 0;
        background-color: magenta;
        border-radius: 100%;
    }
    25% {
        top: 0;
        left: 1150px;
        background-color: red;
        border-radius: 0;
    }
    50% {
        top: 300px;
        left: 1150px;
        background-color: green;
        border-radius: 100%;
    }
    75% {
        top: 300px;
        left: 0;
        background-color: orange;
        border-radius: 0;
    }
    100% {
        top: 0;
        left: 0;
        background-color: magenta;
        border-radius: 100%;
    }
}